<div class="relative overflow-x-auto rounded-lg">
  <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
    <thead
      class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
    >
      <tr>
        <th scope="col" class="px-6 py-3">
          <p> Full Name </p>پورا نام</th>
        <th scope="col" class="px-6 py-3 text-center"><p>Bills Quantity</p> بلوں کی مقدار</th>
        <th scope="col" class="px-6 py-3 text-center"><p>Last Bill</p> آخری بل</th>
        <th scope="col" class="px-6 py-3 text-center"><p>Total Amount</p> کل رقم</th>
        <th scope="col" class="px-6 py-3 text-center"><p>Details</p> تفصیلات</th>
      </tr>
    </thead>
    <tbody>
      <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
        <th
          scope="row"
          class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
        >
          Abdul Majid
        </th>
        <td class="px-6 py-4 text-center">7</td>
        <td class="px-6 py-4 text-center">€ 24</td>
        <td class="px-6 py-4 text-center">€ 152</td>
        <td class="px-6 py-4 cursor-pointer hover:bg-sky-700 hover:text-white transition delay-100 duration-100 text-center text-sky-700 font-bold"><p>Details</p> تفصیلات</td>
      </tr>
      <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
        <th
          scope="row"
          class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
        >
          Abdul Majid
        </th>
        <td class="px-6 py-4 text-center">7</td>
        <td class="px-6 py-4 text-center">€ 24</td>
        <td class="px-6 py-4 text-center">€ 152</td>
        <td class="px-6 py-4 cursor-pointer hover:bg-sky-700 hover:text-white transition delay-100 duration-100 text-center text-sky-700 font-bold"><p>Details</p> تفصیلات</td>
      </tr>
      <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
        <th
          scope="row"
          class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
        >
          Abdul Majid
        </th>
        <td class="px-6 py-4 text-center">7</td>
        <td class="px-6 py-4 text-center">€ 24</td>
        <td class="px-6 py-4 text-center">€ 152</td>
        <td class="px-6 py-4 cursor-pointer hover:bg-sky-700 hover:text-white transition delay-100 duration-100 text-center text-sky-700 font-bold"><p>Details</p> تفصیلات</td>
      </tr>
      <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
        <th
          scope="row"
          class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
        >
          Abdul Majid
        </th>
        <td class="px-6 py-4 text-center">7</td>
        <td class="px-6 py-4 text-center">€ 24</td>
        <td class="px-6 py-4 text-center">€ 152</td>
        <td class="px-6 py-4 cursor-pointer hover:bg-sky-700 hover:text-white transition delay-100 duration-100 text-center text-sky-700 font-bold"><p>Details</p> تفصیلات</td>
      </tr>
      <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
        <th
          scope="row"
          class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
        >
          Abdul Majid
        </th>
        <td class="px-6 py-4 text-center">7</td>
        <td class="px-6 py-4 text-center">€ 24</td>
        <td class="px-6 py-4 text-center">€ 152</td>
        <td class="px-6 py-4 cursor-pointer hover:bg-sky-700 hover:text-white transition delay-100 duration-100 text-center text-sky-700 font-bold"><p>Details</p> تفصیلات</td>
      </tr>
    </tbody>
  </table>
</div>
