<div class="grid grid-cols-4 gap-4 px-2">
  <div class="bg-white">
    <div class="flex flex-col">
      <img
        src="https://d30fs77zq6vq2v.cloudfront.net/product/515x772/15042023/6ce3d3a0-999e-4108-88ee-00342a979df6-raw_1681535442-1463544193230.jpg"
        class="h-auto w-auto shadow-sm"
        alt=""
      />
      <p class="text-center font-bold font-mono text-xs mt-2">Rs 1,649</p>
    </div>
  </div>
  <div class="bg-white">
    <div class="flex flex-col">
      <img
        src="https://d30fs77zq6vq2v.cloudfront.net/product/515x772/15042023/e51a3f33-4e76-42ba-a54e-64a5a6cf2aad-raw_1681535427-594182026019.jpg"
        class="h-auto w-auto shadow-sm"
        alt=""
      />
      <p class="text-center font-bold font-mono text-xs mt-2">Rs 1,900</p>
    </div>
  </div>
  <div class="bg-white">
    <div class="flex flex-col">
      <img
        src="https://d30fs77zq6vq2v.cloudfront.net/product/515x772/15042023/07b1abd9-fe65-4264-8f13-3a5a27240917-raw_1681535272-1042093036452.jpg"
        class="h-auto w-auto shadow-sm"
        alt=""
      />
      <p class="text-center font-bold font-mono text-xs mt-2">Rs 1,700</p>
    </div>
  </div>
  <div class="bg-white">
    <div class="flex flex-col">
      <img
        src="https://d30fs77zq6vq2v.cloudfront.net/product/515x772/15042023/b8db1eb0-e42f-4709-8c82-4297e1dff066-raw_1681535176-687693820207.jpg"
        class="h-auto w-auto shadow-sm"
        alt=""
      />
      <p class="text-center font-bold font-mono text-xs mt-2">Rs 1,999</p>
    </div>
  </div>
  <div class="bg-white">
    <div class="flex flex-col">
      <img
        src="https://d30fs77zq6vq2v.cloudfront.net/product/515x772/15042023/f577ef68-58b7-4878-b65b-5b31598316fc-raw_1681535127-769277236022.jpg"
        class="h-auto w-auto shadow-sm"
        alt=""
      />
      <p class="text-center font-bold font-mono text-xs mt-2">Rs 1,649</p>
    </div>
  </div>
  <div class="bg-white">
    <div class="flex flex-col">
      <img
        src="https://d30fs77zq6vq2v.cloudfront.net/product/515x772/13042023/sph-shn-cl-01-nahodi-beg-02-jpg-2_1681367613-1498481062005.jpg"
        class="h-auto w-auto shadow-sm"
        alt=""
      />
      <p class="text-center font-bold font-mono text-xs mt-2">Rs 2,095</p>
    </div>
  </div>
  <div class="bg-white">
    <div class="flex flex-col">
      <img
        src="https://d30fs77zq6vq2v.cloudfront.net/product/515x772/15042023/c9f33fa7-2082-4ede-84e7-1d58b833263f-raw_1681535024-532324048602.jpg"
        class="h-auto w-auto shadow-sm"
        alt=""
      />
      <p class="text-center font-bold font-mono text-xs mt-2">Rs 9,99</p>
    </div>
  </div>
</div>
