<div class="flex flex-col">
  <app-toolbar></app-toolbar>
  <div class="mt-3">
    <a class="cursor-pointer">
      <img
        src="https://d30fs77zq6vq2v.cloudfront.net/files/shares/20230324/Desktop_Ramadan.jpg"
        alt=""
        class="xl:w-full lg:w-full"
      />
    </a>
  </div>
  <div class="bg-white mt-3 py-3">
    <p class="uppercase font-bold font-mono text-center mb-5">top category</p>
    <div class="grid xl:grid-cols-6 lg:grid-cols-4 sm:grid-cols-2 md:grid-cols-2 gap-2 justify-between px-3">
      <div class="cursor-pointer">
        <img
          src="https://d30fs77zq6vq2v.cloudfront.net/files/shares/20230411/1.Tops.gif"
          alt=""
        />
        <p class="font-mono text-xs text-center mt-2 font-bold">Tops</p>
      </div>
      <div class="cursor-pointer">
        <img
          src="https://d30fs77zq6vq2v.cloudfront.net/files/shares/20230210/2.Kurta.gif"
          alt=""
        />
        <p class="font-mono text-xs text-center mt-2 font-bold">Kurta</p>
      </div>
      <div class="cursor-pointer">
        <img
          src="https://d30fs77zq6vq2v.cloudfront.net/files/shares/20230210/3.Womens-T-Shirts.gif"
          alt=""
        />
        <p class="font-mono text-xs text-center mt-2 font-bold">
          Women's T-Shirts
        </p>
      </div>
      <div class="cursor-pointer">
        <img
          src="https://d30fs77zq6vq2v.cloudfront.net/files/shares/20230411/4.HandBags.gif"
          alt=""
        />
        <p class="font-mono text-xs text-center mt-2 font-bold">Handbags</p>
      </div>
      <div class="cursor-pointer">
        <img
          src="https://d30fs77zq6vq2v.cloudfront.net/files/shares/20230210/5.Festive-Wear.gif"
          alt=""
        />
        <p class="font-mono text-xs text-center mt-2 font-bold">Festive Wear</p>
      </div>
      <div class="cursor-pointer">
        <img
          src="https://d30fs77zq6vq2v.cloudfront.net/files/shares/20230210/6.Mens-Casual-Shirts.gif"
          alt=""
        />
        <p class="font-mono text-xs text-center mt-2 font-bold">
          Men's Cascual Shirts
        </p>
      </div>
    </div>
  </div>
  <div class="bg-white mt-3 py-3">
    <p class="uppercase font-bold font-mono text-center mb-5">
      exclusive for you
    </p>
    <div class="flex flex-col gap-2">
      <div class="">
        <img
          src="https://d30fs77zq6vq2v.cloudfront.net/files/shares/20220905/Fresh-Designs_Desktop.jpg"
          alt=""
          class="w-full"
        />
      </div>
      <div class="">
        <img
          src="https://d30fs77zq6vq2v.cloudfront.net/files/shares/20220905/Kids_Desktop.jpg"
          alt=""
          class="w-full"
        />
      </div>
    </div>
    <div class="flex flex-row gap-2 mt-3">
      <div class="w-full">
        <img
          src="https://d30fs77zq6vq2v.cloudfront.net/files/shares/20220905/Men_Desktop.jpg"
          alt=""
          class="w-full"
        />
      </div>
      <div class="w-full">
        <img
          src="https://d30fs77zq6vq2v.cloudfront.net/files/shares/20220905/Women_Desktop.jpg"
          alt=""
          class="w-full"
        />
      </div>
    </div>
  </div>
  <div class="bg-white mt-3 py-3">
    <p class="uppercase font-bold font-mono text-center">best sellers</p>
    <app-item-slider></app-item-slider>
  </div>
  <div>
    <p class="uppercase font-bold font-mono text-center">deal zone</p>
    <div class="flex flex-row justify-center gap-2">
      <div
        class="bg-[#FFD3BD] rounded-full h-60 w-60 flex flex-col items-center justify-center"
      >
        <p class="uppercase text-sm font-bold font-mono">min.</p>
        <p class="font-extrabold uppercase text-4xl">60%</p>
        <p class="font-extrabold uppercase text-4xl">off</p>
      </div>
      <div
        class="bg-[#FF555B] rounded-full h-60 w-60 flex flex-col items-center justify-center"
      >
        <p class="font-extrabold uppercase text-4xl">half</p>
        <p class="font-extrabold uppercase text-4xl">price</p>
        <p class="uppercase font-bold text-md">store</p>
      </div>
      <div
        class="bg-[#FF994B] rounded-full h-60 w-60 flex flex-col items-center justify-center"
      >
        <p class="uppercase text-sm font-bold font-mono">under</p>
        <p class="font-extrabold uppercase text-4xl">Rs.799</p>
      </div>
      <div
        class="bg-[#FFCE48] rounded-full h-60 w-60 flex flex-col items-center justify-center"
      >
        <p class="uppercase text-sm font-bold font-mono">min.</p>
        <p class="font-extrabold uppercase text-4xl">60%</p>
        <p class="font-extrabold uppercase text-4xl">off</p>
      </div>
    </div>
  </div>
  <div class="">
    <p class="uppercase font-bold font-mono text-center my-4">top brands</p>
    <app-product-list-grid></app-product-list-grid>
  </div>
  <div class="my-4">
    <img
      src="https://d30fs77zq6vq2v.cloudfront.net/files/shares/20230106/TopTrending.jpg"
      alt=""
    />
  </div>
  <div class="border-b-3 border-purple-200 h-14">
    <div class="flex flex-row gap-3 justify-center">
      <span
        class="uppercase text-sm cursor-pointer transition pt-2 my-2 hover:underline"
        >men</span
      >
      <span
        class="uppercase text-sm cursor-pointer transition pt-2 mt-2 hover:underline"
        >women</span
      >
      <span
        class="uppercase text-sm cursor-pointer transition pt-2 mt-2 hover:underline"
        >kids</span
      >
      <span
        class="uppercase text-sm cursor-pointer transition pt-2 mt-2 hover:underline"
        >beauty</span
      >
      <span
        class="uppercase text-sm cursor-pointer transition pt-2 mt-2 hover:underline"
        >sale</span
      >
    </div>
  </div>
  <div>
    <app-tag-slider></app-tag-slider>
  </div>
  <div class="mb-10">
    <app-product-list></app-product-list>
  </div>
  <div class="footer bg-[#EEEEEE] pb-5">
    <div class="grid grid-cols-5 gap-0">
      <div class="py-5 px-2">
        <p class="uppercase text-xs font-bold font-mono text-gray-700">
          help & information
        </p>
        <p
          class="capitalize text-xs font font-mono text-gray-700 py-1 cursor-pointer"
        >
          request a call back!
        </p>
        <p
          class="capitalize text-xs font font-mono text-gray-700 py-1 cursor-pointer"
        >
          contact us
        </p>
        <p
          class="uppercase text-xs font font-mono text-gray-700 py-1 cursor-pointer"
        >
          FAQ
          <span class="capitalize text-xs font font-mono text-gray-700"
            >& help center</span
          >
        </p>
      </div>
      <div class="py-5 px-2">
        <p
          class="uppercase text-xs font-bold font-mono text-gray-700 cursor-pointer"
        >
          about us
        </p>
        <p
          class="capitalize text-xs font font-mono text-gray-700 py-1 cursor-pointer"
        >
          privacy statement
        </p>
        <p
          class="capitalize text-xs font font-mono text-gray-700 py-1 cursor-pointer"
        >
          terms & conditions
        </p>

        <p
          class="capitalize text-xs font font-mono text-gray-700 cursor-pointer"
        >
          returns & refunds
        </p>
      </div>
      <div class="flex flex-col py-5 px-2">
        <div>
          <p class="uppercase text-xs font-bold font-mono text-gray-700">
            download our app
          </p>
          <div class="flex flex-row gap-1">
            <img
              src="https://www.clicky.pk/_nuxt/img/googleplay.3eb27f7.png"
              alt=""
              class="h-7 w-20"
            />
            <img
              src="https://www.clicky.pk/_nuxt/img/appstore.91f0e59.png"
              alt=""
              class="h-7 w-20"
            />
          </div>
        </div>
        <div class="flex flex-col mt-3">
          <p class="uppercase text-xs font-bold font-mono text-gray-700">
            keep in touch
          </p>
          <div class="flex flex-row gap-2 mt-3">
            <img
              src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAuBAMAAAChYuY5AAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAbUExURUdwTGtwemtzfGtve2pvemtve2tvemtwfGluefUlRLIAAAAIdFJOUwBrH53nUcA4IG5LhwAAAJVJREFUOMtjKOvAAC0CDAwZmMId7QwMWEQ7Gmkh7CxaGiiBIdzMAAQcGMIBWIUbGbAKO2AXNsAuDDSaNcXFA124gIFBA4u7FRgYIrALS9BEOElJCehoJiUl1KBKYIACHMIWJAlnYBdGDRNnY2OgA4uNjenn+YEWLsQuzEqi2R5YhFthDFRhYNJlF4QDYBwUgmhRBpoCABNbbuleTr6VAAAAAElFTkSuQmCC"
              alt=""
              class="h-5 w-5 cursor-pointer"
            />
            <img
              src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAC4AAAAuBAMAAACllzYEAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAhUExURUdwTG90gGpvempvempvempvempvempvemtwfGtwe2luee9YQboAAAAKdFJOUwAW8uDMspZvNFAVWINuAAABP0lEQVQ4y82Tv0sDMRTHX7C0dTsQhDqJrQjZirg4WUQQJ7GCtFOlrZSbrqD4Y3K5vejWSZt6te+vNAmX5KXJH+B3ueRzuW9evnkHQFUfHZxM1SDxMOsjosgA8hlUyKsPVCrYkwCYt50L1xw5rgH6wn6whUYZgyvsGP5m8KpxBxzFe8m54cc4UJOj0t7a4BKkD+Kl5jXHrwFS9ZwoXrW4kLO5HvU8/u2KO3whPopvm0nr1vIvZZtioH2Je9WQn6nDtHjAZZm6/k0NaChEM8n3IjzxTkPTkToNeKH5TsB/3WUH5avcbyLlyIAeurFtgW2ed11eaxq3h4qPF6YNmB/RyvbZbhBmqZxsLWgr110Ybdrgn/HlubPpEJNHh3/s8ucxCXqR2dVe/PfOpUZONfH+waHJcQq+GuNz3rx4TeAf6w+XsHQNsQ1wBQAAAABJRU5ErkJggg=="
              alt=""
              class="h-5 w-5 cursor-pointer"
            />
            <img
              src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAtBAMAAAAuHTTtAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAhUExURUdwTGpvempvempxempvemtvempvenF5h2pvemtyfGluedANjL4AAAAKdFJOUwC/mT7uVdIMcihdqGdAAAABBUlEQVQoz73TO0/DMBQF4NNGKLQTkUBInRgYUKdK2boBA1KmsCGmzpmyslVILEzdKrEluB7Or+Q6D8euQyfEmexPsXx9HQPPGb2oK2DKIDd4DfGARYgVshAV/Pkj8Eke4QUw/2t8AtYBqiShg/ruvejHPeoVEBVHeA0MzelQlwbjRY86TZf8RpMv1mlaCFaQTm1anFCbWYOmr03OybLDmNy2eEbuTiEsOstRDBspu5FbksU1q6Z4mR8sTrqa5Jgbi5Fc6w6YySlzi+YGq48XsRoDTp3rsGg+NanhYttfnXuI6JZ8yOEj8LbvBi7a/IaZKn2LMyV+n3i5lLWjv/foQxh9Mv+VHyXkQikSnHouAAAAAElFTkSuQmCC"
              alt=""
              class="h-5 w-5 cursor-pointer"
            />
          </div>
        </div>
      </div>
      <div class="p-5">
        <p class="uppercase text-xs font-bold font-mono text-gray-700">
          more from clicky
        </p>
        <p
          class="capitalize text-xs font font-mono text-gray-700 cursor-pointer"
        >
          sell on clicky
        </p>
      </div>
      <div class="p-5">
        <p class="uppercase text-xs font-bold font-mono text-gray-700">
          shopping from
        </p>
        <p
          class="capitalize text-xs font font-mono text-gray-700 cursor-pointer"
        >
          you're in pakistan
        </p>
      </div>
    </div>
  </div>
</div>
