.form-group {
  margin: 1rem 0rem 1rem 0rem;
}
@media only screen and (max-width: 600px) {
  .mobile {
    flex-wrap: nowrap;
  }
}

@media only screen and (max-width: 768px) {
  .tablet {
    flex-wrap: nowrap;
  }
}
@media only screen and (max-width: 992px) {
  .pc {
    flex-direction: row;
  }
}

